<div class="main-container">
  <div id="video-wrapper">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/pop-daniela.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/pop-daniela.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/pop-daniela.mp4" type="video/mp4" />
    </video>
  </div>
</div>
