<p-toolbar class="my-custom-toolbar" #pToolbar>
  <div class="p-toolbar-group-start" id="pop-logo" routerLink="/">
    <img src="assets/icons/logo192.png" alt="Logo" style="width: 50px" />
  </div>
  <div class="p-toolbar-group-center navbar-social-icons">
    <div id="social-icons-wrapper">
      <a *ngFor="let icon of icons" [href]="icon.url">
        <i [class]="icon.icon"></i>
      </a>
    </div>
  </div>
  <div class="p-toolbar-group-end">
    <div class="navbar-links">
      <a
        *ngFor="let link of mainLinks"
        [routerLink]="link.routerLink"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        >{{ link.label }}</a
      >
    </div>
    <i
      class="pi pi-bars"
      (click)="toggleSidebar()"
      [ngClass]="{ active: isSidebarOpen }"
    ></i>
  </div>
</p-toolbar>
<sidebar
  [isSidebarOpen]="isSidebarOpen"
  (closeSidebar)="closeSidebar()"
></sidebar>
