#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: xx-large;
}
#contact-item {
    text-align: center;
    padding: 20px;
}
.contact-item-flex-row {
    display: flex;
    flex-direction: row;
}
@media (max-width: 800px) {
.contact-item-flex-row {
        display: flex;
        flex-direction: column;
     }
}
@media (max-width: 420px) {
    .contact-item-flex-row {
        font-size: 60%;
    }
}
.grey {
    color: #999494;
}