<section id="photo-detail">
  <div class="main-container">
    <div *ngIf="photoGallery">
      <div
        *ngFor="let imagePath of photoGallery.imagePaths"
        class="flex-container-center"
      >
        <img
          src="{{ imagePath }}"
          alt="pop-studio-picture"
          id="photo-detail-img"
        />
      </div>
    </div>
  </div>
  <div id="go-back-button-wrapper">
    <button id="go-back-button" class="button" type="button" (click)="goBack()">
      back
    </button>
  </div>
  <app-footer></app-footer>
</section>
