.image-gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
.image-gallery-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.image-gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 400ms
}
.image-gallery-column img:hover {
    transform: scale(1.03);
}
@media screen and (max-width: 800px) {
    .image-gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .image-gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}