<div class="main-container">
  <div id="video-wrapper">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/1.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/2.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/3.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/4.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/5.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/6.mp4" type="video/mp4" />
    </video>
  </div>
  <div id="video-wrapper" *ngIf="shouldDisplayVideos">
    <video [autoplay]="true" [muted]="true" [loop]="true" [controls]="true">
      <source src="../../assets/videos/7.mp4" type="video/mp4" />
    </video>
  </div>
</div>

<!-- sprav refaktoring DRY -->
